/* Fonts */
@font-face {
  font-family: 'Geraldine';
  src: local('Geraldine'), url("./Fonts/Geraldine.ttf") format('truetype');
}

@font-face {
  font-family: 'QuickKiss';
  src: local('QuickKiss'), url("./Fonts/QuickKiss.ttf") format('truetype');
}

.quickkiss {
  font-family: "QuickKiss";
}

.geraldine {
  font-family: "Geraldine";
}

/* App */
.App {
  text-align: center;
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399); 
  background: linear-gradient(to right, #ff00cc, #333399);
}

.home-header { 
  min-height: calc(90vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  background-image: url("Images/background.jpg");
  background-size: cover;
}

.hrWidth {
  width: 30%;
}

/* Home Page Cards */
.content {
  width: 100%;
  padding: 2em;
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399); 
  background: linear-gradient(to right, #ff00cc, #333399);
  justify-content: center !important;
}

.headline1 {
  /* padding: 3em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .headline1 {
    flex-direction: column;
  }
  .home-image{
    width: 100% !important;
  }
  .headline-desc{
    width: 100% !important;
  }
}

.headline-desc {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  width: 100%;
}

h1 {
  font-size: large;
}

.home-image {
  width: 500px;
  height: 100%;
}

/* Home Pre Footer */
.more {
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.more:link, .more:visited {
  text-decoration: none;
}

.more:active, .more:hover {
  text-decoration: underline;
}

/* Header */
.header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pages {
  margin-top: 60px
}

.header-title {
  justify-content: flex-start;
  margin-left: 0.5em;
}

.header-links {
  display: flex;
  flex-direction: row;
}

.h-link {
  color: black;
  margin-right: 1em;
  z-index: 1000;
}

@media screen and (max-width: 750px) {
  .header-links {
    display: none;
  }
  .header{
    justify-content: center;
  }
}

/* Footer */
.footer {
  background-color: darkslategray;
  color: white;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}