@font-face {
  font-family: 'Geraldine';
  src: local('Geraldine'), url("./Fonts/Geraldine.ttf") format('truetype');
}
@font-face {
  font-family: 'QuickKiss';
  src: local('QuickKiss'), url("./Fonts/QuickKiss.ttf") format('truetype');
}

.App {
  text-align: center;
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quickkiss {
  font-family: "QuickKiss";
}
.geraldine {
  font-family: "Geraldine";
}
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #ff00cc;  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.home-header { 
  min-height: calc(70vh);
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  background-image: url("Images/background.jpg");
  background-size: cover;
}

.hrWidth {
  width: 30%;
}

.headline1 {
  float: left;
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: row;
}

.headline-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headline-desc head {
  text-align: center;
  font-size: 4em;
  width: 100%;
}

p {
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  width: 100%;
}

h1 {
  font-size: large;
}
